.tab-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.tab-content {
  border: #888;
  background: #f1f1f1;
  padding: 1rem;
}

li {
  flex: 1;
  display: inline-block;
  list-style: none;
  border: 1px solid #eee;
  padding: .5rem 1rem;
  cursor: pointer;
}

li.active {
  border-bottom: none;
  background: #f1f1f1;
}

li span {
  color: black;
  font-weight: 700;
  text-decoration: none;
}
